.products {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.main-cart {
  background-color: #ffe1b5;
}
.questions {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 20px;
  text-align: start;
}
@media screen and (max-width: 900px) {
  .products {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .products {
    display: grid;
    grid-template-columns: 1fr;
  }
  .product {
    display: grid;
    grid-template-columns: 1fr;
    order: 1;
  }
  .main-cart {
    order: 0;
  }
}
